.formulario {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 50px;
  flex-wrap: wrap;
  gap: 32px;
}

.formulario form {
  max-width: 100%;
  background-color: #f7f7f7;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 8px 32px;
  flex: 1;
}

.formulario h2 {
  font-size: 32px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .formulario {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .formulario h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .formulario {
    margin: 40px 30px;
  }
  .formulario h2 {
    font-size: 20px;
  }
  .formulario form {
    padding-inline: 16px;
  }
}
